

:root {
    font-family: 'Quicksand', sans-serif;
    --main-color: white;
    --accent-color: white;
    scroll-behavior: smooth;
}
body {
    max-width: 100%;
    margin: auto;
}

h1 {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Impact, fantasy;
     font-size: 6rem;
     top: 200px;
    }
  main { 
text-align: center;
}

header  {
    text-align: center;
    background-color: black;

       }
       
       header nav .reload-link {
           font-family: Impact, fantasy;
           font-size: 3rem;
           text-decoration: none;
           color: white;
           text-align: center;
           }
       
      header nav .top-menu {
    background-color: black;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 1rem 0;
}
header nav .top-menu li a {
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}

header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
}

    header nav .top-menu {
        flex: 1;
        margin: 0;
    }
    
    header section .header-photo {
        width: 100%;
    }
   
   .button {
       position: relative;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.7s;
    background-color: transparent;
    top: ;
}
   
.button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}