:root {
    font-family: 'Quicksand', sans-serif;
    --main-color: #ffffff; --accent-color: #ffffff; scroll-behavior: smooth;
}

body {
    max-width: 100%;
    margin: auto;
}

h1 {
    position: absolute;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-family: Impact, fantasy;
    font-size: 6rem;
    top: 200px;
}

main {
    text-align: center;
}

header {
    text-align: center;
    background-color: black;
}

header nav .reload-link {
    margin:10px;
    font-family: Impact, fantasy;
    font-size: 3rem;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
}

header nav .top-menu {
    background-color: black;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 2rem;
    flex-wrap: wrap;
}

header nav .top-menu li a {
    margin: 10px;
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}

header nav .top-menu li a:hover {
    border: 1px solid var(--main-color);
    }

@media (min-width: 882px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header nav .top-menu {
        flex: 1;
        margin: 0;
    }
}

@media (min-width: 631px) {
    header nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    header nav .top-menu {
        flex: 1;
        margin: 0;
    }
}


header .photo-banner {
    background-image: url(../img/dodge.jpeg);
    min-height: 850px;
    width: 100%;
    background-size: cover;
    filter: brightness(50%);
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 500px) {
    header .photo-banner {
        display: flex;
        align-items: center;
    }

    header nav .top-menu {
        flex: 1;
        margin: 0;
    }

    .button {
        position: relative;
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.0em solid black;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.78em;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        transition: all 0.7s;
        background-color: #0253ff;
        top: -200px ;
        height: 50px;
        width: 100px;
    }

    .button:hover {
        color: white;
        background-color: black;
        cursor: pointer;
    }
